/* GENERAL */
* {
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* END GENERAL*/


/* BODY */
body {
    font-family: 'Libre franklin';
    font-size: 16px;
}

body svg {
    color: #fff;
    fill: none;
    width: 24px;
    height: 24px;
}

/* END BODY */


/* HEADER */
header {
    background-color: #333;
    border-bottom-width: 1px;
    border-bottom-color: #fff;
    border-bottom-style: solid;
    width: 100%;
    height: 115px;
    padding: 8px 5%;
}

header svg {
    color: #fff;
    display: block;
    align-items: center;
}

/* END HEADER */

/* MAIN */
main {
    background: #222;
    color: #fff;
    padding: 50px 5%;
}
main>section img{
    width: 30%;
    height: auto;
}

h1 {
    text-align: center;
    font-family: 'Arimo';
    font-size: 30px;
    margin-bottom: 50px;
}

h3 {
    font-family: 'Arimo';
    font-size: 20px;
    margin-top: 10px;
}

/* END MAIN */


/* FOOTER */
footer {
    background-color: #fff;
    color: #333;
    text-align: center;
    width: 100%;
    padding: 0 5%;
}

footer>section {
    padding: 10px 0;
}

/* END FOOTER */




/* LOGIN */

button {
    background-color: #BDBDFF;
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    /* Flexbox attivato */
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
}

button:hover {
    background-color: #9C9CFF;

}

/* END LOGIN */


/*CSS DESKTOP*/
@media screen and (min-width:768px) {
    body {
        background-color: #680606;
    }
}