
body {
    margin: 0;
    background-color: #222;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #333;
    height: 115px;
    padding: 0 5%;
}

.header-logo {
    margin: 0;
    text-align: center;
    height: 46px;
}

header>div>a {
    display: inline-block;
}

header>div>a>img {
    width: 150px;
    height: 46px;
}

header>a.right {
    float: right;
    display: inline-flex;
    width: auto;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.login-main{
    color: #fff;
    padding: 0 5%;
    text-align: center;
}
.login-form{
    text-align: left;
    margin: 0 15%;
}
.login-form input{
    border-color: #fff;
    border-style: solid;
    border-radius: 10px;
    background-color: #222;
    padding: 11px 6%;
    height: 17px; 
}
button{
    align-items: center;
    width: 100%;
    height: 16px;
    padding: 5% 12px;
    border-radius: 10px;
    border-color: #BDBDFF;
    border: 2px;
    border-style: solid;
    background-color: #BDBDFF;
    color: #fff;
}

.login-img{
    width: 360px;
    height: 152px;

}
.login-img>img{
    padding-top: 80px;
    margin:  0 10%;
    width: 360px;
    height: 72px;


}
/*CSS DESKTOP*/
@media screen and (min-width:768px) {
    body {
        background-color: #fff;
    }
}